.cart-container {
  margin-left: auto;
  cursor: pointer;
  img {
    width: 30px;
  }

  .cart-count {
    text-align: center;
    margin-left: -10px;
    background-color: black;
    color: white;
    padding: 0 6px;
    border-radius: 10px;
  }
}
